<!--
V0.1

A button that is used to create a csv file from a <table>.
-->

<script src="../../Libs/logger.js"></script>
<script src="../../Libs/JSLIB.js"></script>
<script src="../../Libs/Brokers.js"></script>
<script src="../../Libs/stringEXT.js"></script>
<script src="../../Libs/PolymerLib.js"></script>
<link rel="import" href="../../mrp-button/mrp-button.html">

<dom-module id="mrp-csv-button">

  <template>
      <mrp-button id="[[id]]" on-click="handleClick">CSV</mrp-button>
  </template>
    <script src="mrp-csv-button.js" type="text/javascript"></script>
</dom-module>